.card-container {
    display: flex;
    justify-content: space-between;
}

.card-image2 {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: Calc(100% - 50px);
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}